{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hi Dude its a Ed Notes For All</title>
        <link href="{% static 'style.css' %}" rel="stylesheet">

    </head>
<body style="background-color: rgb(255, 153, 0);">
<center>
    <img src="{% static 'kd.jpg' %}" id='kd' style="border: 5px solid red;">
    <h1>Hi dude its Ed Notes for all</h1>


<a href="/users" style="font-size:32px; font-style: italic; text-decoration-color:rgb(204, 0, 255) ;">Users</a>



</center>
</body>
</html>